.Shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.product-details{
    margin-left: 20%;
    border-right: 1px solid lightgray;
    
   
}
.cart-detials{
    margin-left: 5px;
}
.inputField{
    background: rgb(34, 33, 33);
    padding: 20px;
    text-align: center;
}
.inputField input{
    width: 75%;
    padding:8px;
    color: black;
}
.inputField .FontAwesomeIcon{
    margin-left: 5px;
    display: inline;
    color: #fff;
    font-size: 20px;
}